# Python cache files
__pycache__/

# Database files
*.db
*.sqlite3

# Alembic migrations versions
**/migrations/versions/*

# Python virtual environment
.venv

# Cursor IDE settings and cache
.cursor/

# VS Code IDE settings and extensions
.vscode/
